* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f4f5f7;
    padding: 40px 10px;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    
}

.card {
    width: 340px;
    background: #fff;
    border-radius: 15px;
    padding-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.09);
    transition: 0.3s ease;
}



.card-img {
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.technology{
    display: inline-block;
    margin: 15px 20px;
    padding: 4px 12px;
    border-radius: 20px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    background: #32a9e0;
}


.popular {
    background: #6946ff;
    display: inline-block;
    margin: 15px 20px;
    padding: 4px 12px;
    border-radius: 20px;
    color: white;
    font-size: 12px;
    font-weight: 600;

}
.design { 
     display: inline-block;
    margin: 15px 20px;
    padding: 4px 12px;
    border-radius: 20px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    background: #f5429e; 
}

.title {
    font-size: 18px;
    font-weight: 600;
    padding: 0 20px;
    margin-bottom: 8px;
}

.desc {
    font-size: 14px;
    color: #666;
    padding: 0 20px;
    margin-bottom: 18px;
}

.author {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.author h4 {
    font-size: 14px;
}

.author span {
    font-size: 12px;
    color: gray;
}
