/* ===== REMOVE BOOTSTRAP DEFAULT COLORS ===== */
:root{
  --bs-primary: #7c5740;
  --bs-secondary: #b6b4b6;
  --bs-success: #7c5740;
  --bs-info: #887f75;
  --bs-warning: #7c5740;
  --bs-danger: #7c5740;
  --bs-light: #d8dce2;
  --bs-dark: #1f2721;
}

/* ================= THEME COLORS ================= */
:root{
  --light:#d8dce2;
  --secondary:#b6b4b6;
  --muted:#887f75;
  --dark:#1f2721;
  --accent:#7c5740;
}


/* ================= GLOBAL ================= */
body{
  background:var(--light);
  color:var(--dark);
  scroll-behavior:smooth;
}

/* ================= NAVBAR ================= */
.navbar{
  background:var(--dark);
}
.navbar-brand,
.navbar-nav .nav-link{
  color:var(--light) !important;
}
.navbar-nav .nav-link:hover{
  color:var(--accent) !important;
}

/* ================= HERO ================= */
.hero{
  background:
  linear-gradient(rgba(31,39,33,0.85),rgba(31,39,33,0.85)),
  url('https://images.unsplash.com/photo-1498050108023-c5249f4df085');
  background-size:cover;
  background-position:center;
  min-height:100vh;
  display:flex;
  align-items:center;
  color:var(--light);
  text-align:center;
}
@media(max-width:768px){
  .hero{
    padding:120px 0 80px;
    min-height:auto;
  }
}

/* ================= BUTTON ================= */
.btn-primary{
  background:var(--accent);
  border:none;
}
.btn-primary:hover{
  background:#6a4a36;
}

/* ================= SECTIONS ================= */
section{
  padding:70px 0;
}

/* ================= SKILLS ================= */
#skills{
  background:var(--secondary);
}
#skills .card{
  background:var(--light);
  border:none;
}
#skills h5{
  color:var(--dark);
}

/* ================= PROJECTS ================= */
#projects .card{
  border:none;
  background:var(--light);
}

/* ================= CONTACT ================= */
/* #contact{
  background:var(--dark);
  color:var(--light);
} */
#contact input,
#contact textarea{
  background:#f7eeee;
  border:none;
  color:rgb(243, 236, 236);
  
}

/* ================= FOOTER ================= */
footer{
  background:var(--dark);
  color:var(--light);
}
