
body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
   background:linear-gradient(120deg,#0f172a,#1f2933,#3f4d1a);
}

.navbar{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:18px 40px;
  background:#fff;
  box-shadow:0 2px 6px rgba(0,0,0,0.05);

  position: sticky;
  top: 0;
  z-index: 999;
}


/* Logo */
.logo{
  font-size:10px;
  font-weight:700;
  color:#000;
  
  
}


/* Menu */
.menu{
  display:flex;
  gap:35px;
}

.menu a{
  text-decoration:none;
  color:#333;
  font-size:15px;
  font-weight:600;
  text-transform:uppercase;
}


/* Button */
.buy-btn{
  background:#111;
  color:#fff;
  border:none;
  padding:12px 22px;
  border-radius:25px;
  font-size:14px;
  font-weight:600;
  cursor:pointer;
}


/* Hero */
.hero-wrapper{
  border:1px solid #eee;
  border-top:none;
  border-radius:0 0 50px 50px;
  overflow:hidden;
  box-shadow:0 20px 40px rgba(0,0,0,0.06);
}

.hero{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:80px 80px 200px 20px;
  background:#fff;

  margin-top:0;
  height:auto;
  
}


/* Left Content */
.hero-text{
  flex:2;
  padding-left: 0px;
  margin-left: 0%;
}

.hero-text h1{
  font-size:56px;
  line-height:1.2;
  margin-bottom:25px;
  color:#222;
}

.hero-text h1 span{
  color:#7dbb2c;
}

.hero-text p{
  font-size:18px;
  color:#555;
  max-width:520px;
  line-height:1.7;
  margin-bottom:40px;
}

/* Button */
.hero-btn{
  display:inline-flex;
  align-items:center;
  gap:15px;
  background:#f1f1f1;
  border-radius:50px;
  padding:10px 25px 10px 30px;
  font-weight:600;
  cursor:pointer;
}

.hero-btn span{
  background:#7dbb2c;
  color:#fff;
  width:44px;
  height:44px;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:20px;
}

/* Right Image */
.hero-image{
  flex:1;
  background:#fff;
  border-radius:25px;
  padding:30px;
  box-shadow:0 20px 40px rgba(0,0,0,0.08);
}

.hero-image img{
  width:550px;
  border-radius:15px;
  height: 400px;
}

.stats-section{
  /* background:#fff; */
  padding:80px 0;
}

/* Main box */
.stats-box{
  margin:0 40px;
  padding:80px 40px;
  border-radius:40px;
  background:linear-gradient(120deg,#0f172a,#1f2933,#3f4d1a);
  display:flex;
  justify-content:space-between;
  align-items:center;
  color:#fff;
  text-align:center;
}

/* Single stat */
.stat h2{
  font-size:48px;
  margin-bottom:10px;
}

.stat p{
  font-size:18px;
  
}

/* Stars */
.stars{
  color:#facc15;
  font-size:20px;
  margin-bottom:8px;
}

/* Icon */
.stat.icon{
  font-size:38px;
}

/* Footer Main */
.footer{
  background:#fff;
  padding:70px 60px 30px;
  border-top:1px solid #eee;
  border-radius: 50px;
}

/* Footer Grid */
.footer-top{
  display:grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  gap:60px;
}

/* Logo */
.footer-logo{
  font-size:34px;
  font-weight:700;
}
.footer-logo span{
  font-weight:400;
}

/* Text */
.footer p{
  color:#555;
  
  margin:15px 0;
}

/* Social Icons */
.social-icons{
  display:flex;
  gap:12px;
  margin-top:20px;
}
.social-icons a{
  width:38px;
  height:38px;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  text-decoration:none;
  color:#fff;
  font-size:16px;
}
.fb{background:#1877f2;}
.x{background:#000;}
.insta{background:#8a3ab9;}
.yt{background:#ff0000;}

/* Footer Titles */
.footer h3{
  margin-bottom:18px;
  font-size:18px;
}

/* Footer Links */
.footer ul{
  list-style:none;
  padding:0;
}
.footer ul li{
  margin-bottom:12px;
}
.footer ul li a{
  text-decoration:none;
  color:#333;
}


/* Bottom */
.footer-bottom{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-top:50px;
  padding-top:20px;
  border-top:1px solid #eee;
  color:#555;
  font-size:14px;
}

/* Scroll Top */
.scroll-top{
  position:fixed;
  bottom:25px;
  right:25px;
  width:45px;
  height:45px;
  border-radius:50%;
  background:#fff;
  box-shadow:0 4px 10px rgba(0,0,0,0.15);
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:20px;
  cursor:pointer;
}

