body {
    margin: 0;
    padding: 0;
    /* display: flex; */
    height: 100vh;
    /* justify-content: center; */
    align-items: center;
    background: #f0f0f0;
    font-family: Arial, sans-serif;
}
h1{
    color: yellowgreen;
    background-color: black;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.card {
    width: 350px;
    
    padding: 15px;
    border: 7px solid BLACK;
    border-radius: 10px;
    text-align: center;
}

.card img {
    width: 100px;
    border-radius: 10px;
    height: 100px;
}

.card h2 {
    margin: 15px 0 10px;
}

.card p {
    color: #555;
    font-size: 15px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
   background-color: #005fcc;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 10px;
    
}
#btn2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #005fcc;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 10px;
    
}


